:root {
  --primary: #0060ba;
  --secondary: #f9f871;
  --tertiary: #f9f9f9;
  --dark: #333;
  --light: #fff;
  --bg: #1a1a1a;
  --bg2: #212529;
  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img{
  object-fit: cover;
}

html, body, #app {
  height: 100%!important;
}

/* LOADER */
.first-loader2 {
  display: flex;
}

.first-loader2 .item {
  background-color: white;
  height: 40px;
  width: 6px;
  margin: 0 3px;
  border-radius: 10px;
  animation: loading 0.8s linear infinite;
  transform-origin: bottom;
}

.first-loader2 .item:nth-child(2) {
  animation-delay: 0.1s;
}
.first-loader2 .item:nth-child(3) {
  animation-delay: 0.2s;
}
.first-loader2 .item:nth-child(4) {
  animation-delay: 0.3s;
}
.first-loader2 .item:nth-child(5) {
  animation-delay: 0.4s;
}
.first-loader2 .item:nth-child(6) {
  animation-delay: 0.5s;
}
.first-loader2 .item:nth-child(7) {
  animation-delay: 0.6s;
}
.first-loader2 .item:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes loading {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

#loading {
  background-color: var(--bg);
  z-index: 9;
}

.first-loader {
  width: 60px;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1;
}
.first-loader:before,
.first-loader:after {
  content: "";
  flex: 1;
  aspect-ratio: 1;
  --g: conic-gradient(from -90deg at 10px 10px, #fff 90deg, #0000 0);
  background: var(--g), var(--g), var(--g);
  filter: drop-shadow(30px 30px 0 #fff);
  animation: l20 1s infinite;
}
.first-loader:after {
  transform: scaleX(-1);
}

@keyframes l20 {
  0% {
    background-position: 0 0, 10px 10px, 20px 20px;
  }
  33% {
    background-position: 10px 10px;
  }
  66% {
    background-position: 0 20px, 10px 10px, 20px 0;
  }
  100% {
    background-position: 0 0, 10px 10px, 20px 20px;
  }
}


/* HTML: <div class="loader-2"></div> */
.loader-2 {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}
.loader-2:before,
.loader-2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -8px 0 0 -8px;
  width: 16px;
  aspect-ratio: 1;
  background: #ffffff;
  animation:
    l1-1 2s  infinite,
    l1-2 .5s infinite;
}
.loader-2:after {
  background:#00000000;
  border: 1px solid #ffffff;
  animation-delay: -1s,0s;
}
@keyframes l1-1 {
  0%   {top:0   ;left:0}
  25%  {top:100%;left:0}
  50%  {top:100%;left:100%}
  75%  {top:0   ;left:100%}
  100% {top:0   ;left:0}
}
@keyframes l1-2 {
   80%,100% {transform: rotate(0.5turn)}
}

/* HTML: <div class="loader-3"></div> */
.loader-3 {
  width: 80px;
  aspect-ratio: 1;
  border: 10px solid #000;
  box-sizing: border-box;
  background: 
    radial-gradient(farthest-side,#fff 98%,#0000) top,
    radial-gradient(farthest-side,#fff 98%,#0000) top,
    radial-gradient(farthest-side,#fff 98%,#0000) left,
    radial-gradient(farthest-side,#fff 98%,#0000) right,
    radial-gradient(farthest-side,#fff 98%,#0000) bottom,
    #000;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(10); 
  animation: l19 2s infinite;
}
@keyframes l19 {
  0%   {background-position:top,top,left,right,bottom}
  25%  {background-position:right,top,left,right,bottom}
  50%  {background-position:bottom,top,left,right,bottom}
  75%  {background-position:left,top,left,right,bottom}
  100% {background-position:top,top,left,right,bottom}
}

/* HTML: <div class="loader-4"></div> */
.loader-4 {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: linear-gradient(135deg,#0000 calc(50% - 0.5em),#00bfff 0 calc(50% + 0.5em),#0000 0) right/300% 100%;
  animation: l22 2s infinite;
}
.loader-4::before {
  content: "Downloading...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(135deg,#ffffff calc(50% - 0.5em),#000000 0 calc(50% + 0.5em),#ffffff 0);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l22{
  100%{background-position: left}
}

/* COMMON */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--light);
  user-select: none;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  overflow: hidden;
}

.nav-item.active {
  background-color: var(--primary);
}

#app {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

#main {
  flex: 1 0 0;
  display: flex;
  width: 100vw;
  height: calc(100% - 80px);
}

#player-bar {
  height: 78px;
  background-color: var(--bg2);
  position: relative;
}

#loop,
#m-loop-song {
  opacity: 0.3!important;
}

#loop.active,
#m-loop-song.active {
  opacity: 1!important;
}

#main-screen {
  position: relative;
}

#main-screen > * {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

#menu {
  width: 5rem;
  font-size: 1.6rem;
  transition: all 0.1s;
}

#menu span,
#menu .logo,
#menu .info {
  display: none;
}

#menu .info{
    min-width: 350px;
}

#menu:hover {
  width: 300px;
}

#menu:hover .logo,
#menu:hover .info {
  display: block;
  font-size: 1.2rem;
}

#menu:hover span {
  display: inline;
  font-size: 1.2rem;
}

.card {
  width: 300px;
  background-color: var(--bg2);
  overflow: hidden;
  flex-shrink: 0;
}

.card .card-body {
  color: var(--light);
}

.card .play-song {
  position: absolute;
  opacity: 0;
  transition: all 0.1s;
  bottom: 4rem;
  right: 1rem;
  border-radius: 50%;
  background-color: var(--primary);
  width: 3rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
}

.card:hover .play-song {
  opacity: 1;
  transform: translateY(0);
}

.playlist {
  overflow-x: auto;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--bg2);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--bg2);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}

.result-item {
  background-color: var(--bg2);
  margin-bottom: 10px;
}

#player-screen-bg {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  opacity: 0;
  transform: translateY(100%);

  transition: all .3s ;
}

#player-screen-bg.active{
    opacity: 1;
    transform: translateY(0);
}

#player-screen-bg > div {
  backdrop-filter: blur(50px) brightness(0.3);
  width: 100%;
  height: 100%;
}

.song-list {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.song-list .list-item {
  background: #11111179;
  width: 100%;
  overflow: hidden;
}

.song-list .list-item h5{
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 1.1rem;
    overflow: hidden;
}

.song-list .list-item.active {
  background: #ffffff28;
}

.song-list-box h4 {
  text-align: center;
}

.container_ {
  padding: 4rem 2rem;
  overflow: hidden!important;
  width: 100%;
  height: 100%;
}

.disk-box {
  padding: 3rem 0;
  position: relative;
  aspect-ratio: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.disk-box img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  width: 80%;
  border: 2px solid #5e5e5e;
  animation: circle 10s infinite linear;
  overflow: hidden;
}

#toggle-lyrics{
  margin: 1rem 0;
}

.lyric-text{
  font-size: 1.4rem!important;
  text-align: center;
  opacity: 0.5;
  font-weight: 500;
  padding: .5rem 1rem;
}

.lyric-text.active{
  opacity: 1;
}

#container-toggle{
  width: 100%;
  aspect-ratio: 1;
  max-width: 70vh;
}

.lyric-box{
    width: 100%;
    aspect-ratio: 1;
    overflow-y: auto;
}

.lyric-content{
    
    width: 100%;
}

.lyric-content p{
  width: 100%;

}

@keyframes circle {
  from {
    rotate: 0deg;
  }

  to{
    rotate: 360deg;
  }
}

#title,
#artist {
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.disk-box > div {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  aspect-ratio: 1;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  background-color: #111;
}

#progress-bar{
    position: absolute;
    bottom: 100%;
    z-index: 6;
    transition: all .2s ;
}

#progress-bar>div{
    background-color: #ba0000;
}

#progress-bar:hover{
    height: 10px!important;
}

#home,
#search{
    display: none;
}

#home.active,
#search.active{
    display: block;
}

#mobile-layout{
    display: none;
}

.toggle-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  /* overflow: hidden; */
  gap: 50%;
  z-index: 1;
}
.toggle-container.active {
  transform: translateX(-150%);
}
.disk-box, .lyric-box {
  width: 100%!important;
  flex-shrink: 0;
}

#toggle-menu{
    display: none;
}

@media screen and (max-width: 960px) {
  #toggle-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 50px;
    z-index: 10;
    font-size: 2rem;
    width: 50px;
    aspect-ratio: 1;
  }

  #menu:hover #toggle-menu{
    display: none;
  }

  #mobile-layout{
    display: block;
  }

  #player-bar {
    height: 80px;
  }

  .volume-control,
  #player-bar span,
  #loop,
  #prev,
  #next,
  #progress-bar,
  #shuffle{
      display: none!important;
  }
  
  #progress-bar + div{
    justify-content: center!important;
  }

  .song-item{
    width: 150px;
  }

  #info{
    font-size: 1rem;
    width: 80vw;
    overflow: hidden;
  }

  #control button{
    font-size: 1rem!important;
    padding: 0 1rem;
  }

  #play i{
    font-size: 1.5rem!important;
  }

  #main{
    position: relative;
  }

  #menu{
    position: absolute;
    z-index: 5;
    top: -1rem;
    left: -50px;
    height: 0;
    font-size: 0;
    width: 0;
    /* overflow: hidden; */
  }

  #main-screen{
    padding-top: 40px;  
  }

  #menu:hover{
    width: 80vw;
    height: calc(100vh - 80px); 
    top: 0;
    left: 0;
    font-size: 1.6rem;
  }

  .playlist{
    width: 100vw;
    flex-wrap: wrap;
    width: 100%;
    max-height: 40vh;
    overflow-y: auto  ;
    gap: 5px!important;
    align-items: start;
  }

  .card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
    }

  .card-img-top{
    display: block;
    width: 70px;
    aspect-ratio: 1 ;
    object-fit: cover;
  }

  .card-body{
    flex: 1 0;
    padding: 0;
    overflow: hidden;
  }

  .card-title{
    font-size: 1rem!important;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    } 

  .card-text{
    font-size: .8rem!important;
  }

  .header>div:nth-child(1){
    width: 40vw!important;
    overflow: hidden;
  }

  .header>div:nth-child(2){
    width: 50vw!important;
    overflow: hidden;
  }

  .result-item {
    flex-wrap: wrap;
  }

  .result-item h5{
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .result-item>div:nth-child(2){
    overflow: hidden;
    flex: none ;
    width: calc(90% - 70px);
  }

  .result-item>div:nth-child(3) {
    width: 100%;  
    flex-shrink: 0;
  }

  .player-screen{
    display: block!important;
    overflow-y: auto;
    padding-top: 4rem;
  }

  .player-screen>div{
    width: 100%;
  }

  .container_ {
    padding: 1rem;
  }

  #current-playlist{
    height: 50vh;
  }
  
  #player-screen-bg{
    z-index: 1;
  }

  .lyric-text{
    font-size: 1.2rem!important;
    padding: 0.5rem 1rem;
  }


}

/* RANGE INPUT CSS */
input[type="range"] {
	font-size: 1.5rem;
	/* width: 12.5em; */
}

input[type="range"] {
	color: #ef233c;
	--thumb-height: 1.125em;
	--track-height: 0.125em;
	--track-color: rgba(0, 0, 0, 0.2);
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
}

input[type="range"]{
	color: #2b2d42;

	--thumb-height: .8em;
	--thumb-width: 0.3em;
	--clip-edges: 0.0125em;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #000;
	}

	html::before {
		background: radial-gradient(circle at center, #101112, #000);
	}

	input[type="range"] {
		color: #fd3a2c;
		--track-color: rgba(255, 255, 255, 0.1);
	}
}

input[type="range"] {
	position: relative;
	background: #fff0;
	overflow: hidden;
}

input[type="range"]:active {
	cursor: grabbing;
}

input[type="range"]:disabled {
	filter: grayscale(1);
	opacity: 0.3;
	cursor: not-allowed;
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	position: relative;
}

input[type="range"]::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

input[type="range"]:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
	cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
	appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	background: #fff0;
}

input[type="range"]::-moz-range-thumb {
	background: currentColor;
	border: 0;
	width: var(--thumb-width, var(--thumb-height));
	border-radius: var(--thumb-width, var(--thumb-height));
	cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
	cursor: grabbing;
}

input[type="range"]::-moz-range-track {
	width: 100%;
	background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
	appearance: none;
	background: currentColor;
	transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
	height: calc(var(--track-height) + 1px);
	border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
	filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
	filter: brightness(var(--brightness-down));
}

input[type="range"]:disabled::-moz-range-thumb {
	cursor: not-allowed;
}
